<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
      <h1>
        Welcome to {{ title }}!
      </h1>

      <div id="div1">
         <h1>Reservar</h1>

         <!--"seleccionpacintes es objeto de tipo pacientes",lo que yo le pase se guarda
          en el array
        -->
         
         Nombre:<label for=""><input type="text" placeholder="Ingrese un nombre" 
                                                [(ngModel)]="seleccionPacientes.name" ></label>
         
         Fecha:<label for=""><input type="number" [(ngModel)]="seleccionPacientes.fecha"></label>
         
         Desde:<label for=""><input type="number" [(ngModel)]="seleccionPacientes.desde"></label>
         
         Hasta:<label for=""><input type="number" [(ngModel)]="seleccionPacientes.hasta"></label>

         <label for=""><input type="button" (click)="guardar()" value="Guardar!!"></label> 
      
      </div>

      <div id="caja">
          <ul> 
            <h2>Pacientes registrados!</h2>
            
            <li *ngFor="let personas of arrayPacientes; let indice=index" class="lista" (click)="guardar(personas)"> 
                 {{indice}} -{{personas.name}}-{{indice-personas.desde}} -{{personas.hasta}}-<button (click)="eliminar(indice)"> Borrar </button>
            </li>
          </ul>
      </div>


    </body>
</html>

